/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header, section, footer {
    padding: 20px;
    margin: 10px;
}

header {
    background-color: #f4f4f4;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: #f9f9f9;
}*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add a smooth transition effect for all properties on hover */
.nav-link, .navbar-brand, h2, h3, p, li {
  transition: all 0.3s ease;
}

/* Scale up the navbar links on hover */
.nav-link:hover, .navbar-brand:hover {
  transform: scale(1.1);
}
/* Add a subtle shadow effect to the navbar */
.navbar-brand:hover

  section {
    padding: 6rem;
  }
/* Fade-in effect for sections */
#about  {
  opacity: 0;
  animation: fadeIn 0s ease forwards;
  animation-delay: 0.5s;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Add skills section effects */
  section.skills {
    background: #f9f9f9;;
  }
  .skills-head {
    /* color: rgb(10, 9, 9); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary);
  }
  .skills-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: left;
    margin-bottom: 6rem;
    font-weight: 400;
   }
  .card img {
    width: 50px;
    background: white;
  }
  section.skills .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  section.skills .card-grid .card {
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    text-align: left;
    transition: all 0.2s ease;
  }
  section.skills .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.skills .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  section.skills .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--seconday);
    line-height: 1.6;
  }
  section.skills .card-grid .card:hover {
    background: var(--primary);
  }
  section.skills .card-grid .card:hover h2 {
    scale: 1.02;
    color: var(--white);
  }
  section.skills .card-grid .card:hover p {
    color: var(--white);
  }
/* Add flex effects*/
  /*".flex {
    display: flex;
  }*/
  .items-centre {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-right {
    justify-content: right;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
   .btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
  .flex-1 {
    flex: 1;
  }
  .btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  .btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
  }
/* Rotate the footer text on hover */
footer p:hover {
  transform: rotate(15deg);