/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header, section, footer {
    padding: 20px;
    margin: 10px;
}

header {
    background-color: #f4f4f4;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

/* Add a smooth transition effect for all properties on hover */
.nav-link, .navbar-brand, h2, h3, p, li {
  transition: all 0.3s ease;
}

/* Scale up the navbar links on hover */
.nav-link:hover, .navbar-brand:hover {
  transform: scale(1.1);
}

/* Fade-in effect for sections */
#about  {
  opacity: 0;
  animation: fadeIn 15s ease forwards;
  animation-delay: 0.5s;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Rotate the footer text on hover */
footer p:hover {
  transform: rotate(15deg);