/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header, section, footer {
    padding: 20px;
    margin: 10px;
}

header {
    background-color: #f4f4f4;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

@media screen and (max-width: 600px) {
  /* CSS rules for screens with a maximum width of 600px */
  body {
    background-color: lightblue;
  }
}
/* Add a smooth transition effect for all properties on hover */
.nav-link, .navbar-brand, h2, h3, p, li {
  transition: all 0.3s ease;
}

/* Scale up the navbar links on hover */
.nav-link:hover, .navbar-brand:hover {
  transform: scale(1.1);
}
/* Add a subtle shadow effect to the navbar */
.navbar-brand:hover

  section {
    padding: 6rem;
  }
/* Fade-in effect for sections */
#about  {
  opacity: 0;
  animation: fadeIn 0s ease forwards;
  animation-delay: 0.5s;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Add skills section effects */
  section.skills {
    background: #f9f9f9;;
  }
  .skills-head {
    /* color: rgb(10, 9, 9); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary);
  }
  .skills-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
   }
  .card img {
    width: 50px;
    background: white;
  }
  section.skills .card-grid {
    display: flex;
    flex-wrap: wrap
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  section.skills .card-grid .card {
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    text-align: left;
    transition: all 0.2s ease;
  }
  section.skills .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.skills .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  section.skills .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.6;
  }
  section.skills .card-grid .card:hover {
    background: var(--primary);
  }
  section.skills .card-grid .card:hover h2 {
    scale: 1.02;
    color: var(--white);
  }
  section.skills .card-grid .card:hover p {
    color: var(--white);
  }

/* Add projects section effects */
  section.projects {
    background: #f9f9f9;;
  }
  .projects-head {
    /* color: rgb(10, 9, 9); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary);
  }
  . projects-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
   }
  .card img {
    width: 50px;
    background: white;
  }
  section.projects .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  section.projects .card-grid .card {
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    text-align: left;
    transition: all 0.2s ease;
  }
  section.projects .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.projects .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  section.projects .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.6;
  }
  section.projects .card-grid .card:hover {
    background: var(--primary);
  }
  section.projects .card-grid .card:hover h2 {
    scale: 1.02;
    color: var(--white);
  }
  section.projects .card-grid .card:hover p {
    color: var(--white);
  }


/* Add services section effects */
  section.services {
    background: #f9f9f9;;
  }
  .services-head {
    /* color: rgb(10, 9, 9); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary);
  }
  . services-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: left;
    margin-bottom: 6rem;
    font-weight: 400;
   }
  .card img {
    width: 50px;
    background: white;
  }
  section.services .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  section.services .card-grid .card {
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    text-align: left;
    transition: all 0.2s ease;
  }
  section.services .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  section.services .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.6;
  }
  section.services .card-grid .card:hover {
    background: var(--primary);
  }
  section.services .card-grid .card:hover h2 {
    scale: 1.02;
    color: var(--white);
  }
  section.services .card-grid .card:hover p {
    color: var(--white);
  }

/* Add flex effects*/
  /*".flex {
    display: flex;
  }*/
  .items-centre {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  //.justify-right {
  //  justify-content: left;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
   .btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
  .flex-1 {
    flex: 1;
  }
  .btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  .btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
  }
/* Rotate the footer text on hover 
footer p:hover {
  transform: rotate(15deg);*/
  /* *************************************/
  /* ************ FOOTER STYLES ******** */
  /* ************************************ */

  .footer {
    background: var(--bgDark);
    border-radius: 6px;
  }
  .footer .footer-row {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
  }
  .footer-row .footer-col h4 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a: {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #ffff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fffff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }


  @media (max-width: 950px) {
    .contact{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .contact .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .contact{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .contact .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .contact .content .left-side::before{
     display: none;
   }
   .contact .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
